{% load static %}
{% load tags %}
{% load markdown %}

{% if articles.count > 0 %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card" id="search-n-ctags">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-sm=12 col-md-6">
                            <h3 class="text-center">Search</h3>
                            <form action="{% url 'blog:index' %}" method="GET">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="search" name="s" />
                                </div>
                                <br />
                                <div class="text-center">
                                    <button class="btn btn-primary" type="submit">Search!</button>
                                </div>
                            </form>
                        </div>

                        {% if ctags %}
                            <div class="col col-sm=12 col-md-6">
                                <h3 class="text-center">Categories</h3>
                                <ul id="ctags">
                                    {% for k,v in ctags.items %}
                                        <li class="align-items-center"><a href="{% url 'blog:index' %}?s={{ k }}">{{ k }} ({{ v }})</a></li>
                                    {% endfor %}
                                </ul>
                            </div> 
                        {% endif %}
                    </div>
                    {% if user and user.is_authenticated %}
                        <div class="row" id="article_add_div">
                            <div class="col text-center">
                                <a href="{% url 'blog:create_article' %}"><i class="bi bi-file-plus-fill"></i></a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% for article in articles %}
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="{% if article.image %}{{ article.image.url }}{% else %}{% static 'home/default_banner.jpg' %}{% endif %}" alt="header image">
                    <div class="card-body">
                        <h1 class="card-title text-center">{{ article.title }}</h1>

                        <p class="card-text">
                            <small>By <span class="flair">{% if article.author.first_name %}{{ article.author.first_name }} {{ article.author.last_name }}{% else %}Unknown{% endif %}</span></small>
                            <br />
                            <small>Created On <span class="flair">{{ article.date_added }}</span></small>
                        </p>
                        <div class="markdown card-text">
                            {{ article.description | do_markdown }}
                        </div>
                        
                        <br />
                        <div class="text-center tags"><p class="card-text">{{ article | do_tags }}</p></div>
                        <br />
                        <p class="card-text"><h3 class="text-center"><a href="{% url 'blog:article' article_id=article.id slug=article.slug %}">Read full article!</a></h3></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if pages %}
        <div class="row">
            <div class="col">
                <div class="text-center">
                    {% for page in pages %}
                        <span class="page{% if page|stringformat:'s' == page_num|stringformat:'s' %} active{% endif %}"><a href="/blog?p={{ page }}">{{ page }}</a></span>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% else %}
        <p><h3 class="text-center">No Articles Found!</h3></p>
{% endif %}
    