{% load static %}
{% load markdown %}

{% if article != False %}
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <img class="card-img-top" src="{% if article.image %}{{ article.image.url }}{% else %}{% static 'home/default_banner.jpg' %}{% endif %}" alt="header image">
                <div class="card-body">
                    <h1 class="card-title text-center">{{ article.title }}</h1>
                    <div class="markdown">
                        {{ article.contents | do_markdown }}
                    </div>
                    <p class="card-text"><small>By <span class="flair">{{ article.author.first_name }} {{ article.author.last_name }}</span></small></p>
                    <p class="card-text"><small>Created On <span class="flair">{{ article.date_added }}</span></small></p>
                    <br /><br />
                    <div class="text-center" id="share">
                        <h3>Share!</h3>
                        <p><a onclick='copyTextToClipboard("{{ request.build_absolute_uri }}"); notify("Article link copied to clipboard!");'><i class="bi bi-share-fill"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
        <p><h3 class="text-center">Article not found.</h3></p>
{% endif %}
    