{% load static %}

<div class="row row-cols-1 row-cols-md-2 g-4" data-masonry='{"percentPosition": true }'>
    <div class="col">
        <div class="card">
            <img class="card-img-top" src="{% static 'tmc/logo.png' %}">
            <div class="card-body">
                <h1 class="card-title text-center">What Is TMC?</h1>
                <p class="card-text"><a class="tmc" href="https://moddingcommunity.com/about" target="_blank">TMC</a> (The Modding Community) is a community with goals to shine <span class="flair">spotlight</span> and <span class="flair">support</span> onto the modding community along with make it the <span class="flair">norm</span>. We are introducing people to the modding community which in return will improve content creation, gaming, careers, talent, and more!</p>

                <p class="card-text">This is a <span class="flair">MAJOR</span> project and has <span class="flair">A LOT</span> of potential to change the world with our plans, experience, and ambition! We already have a <span class="flair">great team</span> including a game company pushing everything forward and that is only going to expand.</p>
                <br />
                <p class="card-text">If you want to be a part of a community where you can interact with other talented individuals, share your own projects, and more, <span class="flair">TMC is for you</span>!</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img class="card-img-top" src="{% static 'lbg/ds.jpg' %}">

            <div class="card-body">
                <h1 class="card-title text-center">Discord Server</h1>
                <p class="card-text">The following is TMC's Discord server if you're interested in joining the community and having <span class="flair">real-time conversations</span> with other talented individuals!</p>

                <p class="card-text text-center"><iframe src="https://discord.com/widget?id=1006293593629130843&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe></p>
            </div>
        </div>
    </div>
</div>