{% load static %}

<div class="row row-cols-1 row-cols-md-2 g-4" data-masonry='{"percentPosition": true }'>
    <div class="col">
        <div class="card">
            <a class="tmc" href="https://moddingcommunity.com/" target="_blank"><img class="card-img-top" src="{% static 'tmc/logo.png' %}">
            <div class="card-body"></a>
                <h1 class="card-title text-center">Who Are We?</h1>
                <p class="card-text"><a class="tmc" href="https://moddingcommunity.com/" target="_blank">We</a> are a community that shines <span class="flair">spotlight</span> and <span class="flair">support</span> onto the modding community. We are trying to make modding the norm! We are introducing as many people to the modding community which in return will improve content creation, gaming, career opportunities, talent, and more!</p>

                <p class="card-text">This is a <span class="flair">MAJOR</span> project and has <span class="flair">A LOT</span> of potential to change the world with our plans, experience, and ambition! We already have a <span class="flair">great team</span> including a game company pushing everything forward and that is only going to expand.</p>
                <br />
                <p class="card-text">If you want to be a part of a community where you can interact with other talented individuals, share your own projects, and more, <span class="flair">TMC is for you</span>!</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img class="card-img-top" src="{% static 'tmc/community.jpg' %}">

            <div class="card-body">
                <h1 class="card-title text-center">Our Community</h1>
                <p class="card-text">We offer a platform for our community where anybody can participate on which include forums. Within the forums, users may create threads, blog-like posts, guides, and more!</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img class="card-img-top" src="{% static 'tmc/discord.png' %}">

            <div class="card-body">
                <h1 class="card-title text-center">Discord Server</h1>
                <p class="card-text">The following is TMC's Discord server if you're interested in joining the community and having <span class="flair">real-time conversations</span> with other talented individuals!</p>

                <p class="card-text text-center"><iframe src="https://discord.com/widget?id=1006293593629130843&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe></p>
            </div>
        </div>
    </div>
</div>