{% load static %}

<div class="row row-cols-1 row-cols-md-2 g-4" data-masonry='{"percentPosition": true }'>
    <div class="col">
        <div class="card">
            <a class="tmc" href="https://moddingcommunity.com/" target="_blank"><img class="card-img-top" src="{% static 'tmc/logo.png' %}">
            <div class="card-body"></a>
                <h1 class="card-title text-center">Who Are We?</h1>
                <p class="card-text">We are an ever-expanding community creating a new generation of gaming using the power of open source and modding like never seen before! We have a <a href="https://moddingcommunity.com/topic/62-marketplace-in-development/" target="_blank">mod marketplace</a>, <a href="https://moddingcommunity.com/communities/"  target="_blank">community hub</a>, <a href="https://moddingcommunity.com/topic/63-server-browser-in-development/" target="_blank">server browser</a>, <a href="https://moddingcommunity.com/" target="_blank">forums</a>, and more! We are working on <a href="https://github.com/NextGen-Modding" target="_blank">NextGen Modding</a> to provide fully open source solutions game developers may integrate into their games to take community-made content to the next level!</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img class="card-img-top" src="{% static 'tmc/nextgen_modding.png' %}">

            <div class="card-body">
                <h1 class="card-title text-center">NextGen Modding</h1>
                <p class="card-text"><a href="https://github.com/nextgen-modding" target="_blank">NextGen Modding</a> serves as a collection of open-source modding tools that you may integrate into your games! Our tools enhance the modding experience for both singleplayer and multiplayer games.</p>
                <p class="card-text">We are in development and accepting any contributions from the open source community! Our goal is to make a version of each tool for the most popular game engines such as <a href="https://unity.com/" target="_blank">Unity</a>, <a href="https://www.unrealengine.com/en-US/unreal-engine-5" target="_blank">Unreal Engine 5</a>, and <a href="http://godotengine.org/" target="_blank">Godot Engine</a>!</p>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card">
            <img class="card-img-top" src="{% static 'tmc/bestmods.png' %}">

            <div class="card-body">
                <h1 class="card-title text-center">Best Mods</h1>
                <p class="card-text"><a href="https://bestmods.io" target="_blank">Best Mods</a> is an <a href="https://github.com/bestmods" target="_blank">open-source</a> website made me (Christian Deacon) that helps users find their favorite mods from many different sources on the Internet!</p>
                <p class="card-text">We also have a roadmap which may be found <a href="https://github.com/bestmods/roadmap/issues" target="_blank">here</a>! We will be transforming this project into something bigger which we'll use for <a href="https://gamecom.io/" target="_blank">Gamecom</a> and <a href="https://bestservers.io" target="_blank">Best Servers</a>!</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img class="card-img-top" src="{% static 'tmc/community.png' %}">

            <div class="card-body">
                <h1 class="card-title text-center">Our Community</h1>
                <p class="card-text">We offer a platform for our community where anybody can participate on which include forums. Within the forums, users may create threads, blog-like posts, guides, and more!</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img class="card-img-top" src="{% static 'tmc/discord.png' %}">

            <div class="card-body">
                <h1 class="card-title text-center">Discord Server</h1>
                <p class="card-text">The following is TMC's Discord server if you're interested in joining the community and having <span class="flair">real-time conversations</span> with other talented individuals!</p>
                <p class="card-text text-center"><iframe src="https://discord.com/widget?id=1006293593629130843&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe></p>
            </div>
        </div>
    </div>
</div>