{% load static %}

<div class="row row-cols-1 row-cols-md-2 g-4" data-masonry='{"percentPosition": true }'>
    <div class="col">
        <div class="card">
            <img class="card-img-top" src="{% static 'speedruntg/header.jpg' %}">
            <div class="card-body">
                <h1 class="card-title text-center">What Is Speedrun: The Game?</h1>
                <p class="card-text">We are an <a href="https://github.com/speedruntg/" target="_blank">open-source</a> video game created and maintained by <a href="/tmc">The Modding Community</a>. We are geared towards the speedrunning community and strive to provide modding tools for the community to utilize so that anybody can create flavors, game modes, and maps for speedrunning!</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img class="card-img-top" src="{% static 'speedruntg/discord.png' %}">

            <div class="card-body">
                <h1 class="card-title text-center">Discord Server & Website</h1>
                <p class="card-text">The community for this game is hosted within <a href="/tmc">The Modding Community</a>. The following is TMC's Discord server if you're interested in joining the community and having <span class="flair">real-time conversations</span> with other talented individuals!</p>

                <p class="card-text text-center"><iframe src="https://discord.com/widget?id=1006293593629130843&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe></p>
            </div>
        </div>
    </div>
</div>