@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body 
{
    margin: 0px;
    color: rgb(201, 201, 201) !important;
}

a
{
    color: rgb(40 194 255) !important;
    transition: 200ms;
    text-decoration: none !important;
    border-bottom: 2px solid transparent;
}

a:hover
{
    color: rgb(0, 168, 235) !important;
    border-color: rgb(0, 168, 235);
}

#overlay 
{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    background: rgba(0, 0, 0, 0.5)
}

#background 
{
    margin: auto;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
}

.bgvid
{
    min-width: 100%; 
    min-height: 100%;
}

#title
{
    color: #FFF;
}

.nav-item > a
{
    font-size: larger;
    text-decoration: none !important;
}

.nav-item:is(.active) > a
{
    color: #FFF !important;
}

.nav-item:not(.active) > a
{
    color: rgb(151, 151, 151) !important;
}

.nav-item:not(.active) > a:hover
{
    color: #FFF !important;
}

.nav-item:is(.active) > a, .nav-item:not(.active) > a:hover
{
    border-color: transparent;
}

.navbar-nav 
{
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li
{
    display: inline-block;
    float: none;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 50px;
}

.card
{
    padding-bottom: 15px;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.247)
}

.card > img
{
    border-radius: 15px 15px 0px 0px;
    opacity: 0.80;
}

.card img
{
    max-width: 100%;
}

.card > .card-body > h1
{
    color: #FFF;
    text-decoration: none;
}

.card > .card-body > p
{
    padding-left: 10px;
}

.flair
{
    color: rgb(0, 175, 245);
    font-weight: bold;
}

footer
{
    margin-top: 15px;
    padding: 15px;
}

footer .row > div
{
    border-right: 4px solid rgba(0, 0, 17, 0.2);
}

#social div
{
    border: none;
}

#social
{
    margin-bottom: 48px;
}

#social a
{
    color: rgb(151, 151, 151) !important;
    font-size: 48px;
    margin-right: 30px;
}

#social a:hover
{
    color: #FFF !important;
    border-color: transparent;
}

footer .row > div:last-child
{
    border: none;
}

#settings
{
    min-width: 130px;
    padding: 10px;

    z-index: 50;
    background-color: rgba(0, 0, 0, 0.80);
    border-radius: 0px 15px 0px 0px;
}

#settingsContent li
{
    color: inherit;
    background-color: rgba(0, 19, 24, 0.7);
}

#settingsContent li:hover
{
    background-color: rgba(0, 19, 24, 0.9);

    cursor: pointer;
}

.markdown h1
{
    color: inherit;
}

.tag
{
    background: rgba(40, 194, 255, 0.70);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-right: 10px;
    color: #FFF;
}

.tag > a
{
    color: inherit !important;
}

.tag > a:hover
{
    border-color: transparent;
}

.page
{
    padding: 10px;
}

.page > a
{
    font-size: larger;
    text-decoration: none !important;
}

.page:is(.active) > a
{
    color: #FFF !important;
}

.page:not(.active) > a
{
    color: rgb(151, 151, 151) !important;
}

.page:not(.active) > a:hover
{
    color: #FFF !important;
}

.page:is(.active) > a, .page:not(.active) > a:hover
{
    border-color: transparent;
}

#search-area input
{
    border-radius: 5px;
}

#share a
{
    font-size: 48px;
    cursor: pointer;
}

#share a:hover
{
    border-color: transparent;
}

pre code
{
    color: #FFF !important;
}

code
{
    color: #00c3ba !important;
}