{% load static %}

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img class="card-img-top" src="{% static 'home/whatis.jpg' %}" alt="image">
            <div class="card-body">
                <h1 class="card-title text-center">What Is Deaconn?</h1>
                <p class="card-text">Dea<span class="flair">conn</span> is Christian Deacon's website and portfolio.</p>
                <p class="card-text">I am a self-taught technical engineer interested in programming/modding, networking, and general technical engineering. I enjoy learning, progressing/improving, and working within many areas in the technology industry. This ranges from game modding/programming, network programming (e.g. (D)DoS protection/mitigation), pen-testing, web development/general tools, and AI/robotic engineering (includes machine learning) to giving suggestions/feedback on how to improve tools/mods. I really enjoy writing and constructing plans as well!</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img class="card-img-top" src="{% static 'home/myexp.png' %}" alt="image">
            <div class="card-body">
                <h1 class="card-title text-center">Experience</h1>
                <p class="card-text">I have experience in many programming languages and both networking and Linux.</p>
                <p class="card-text">Programming languages I have experience with may be found below.
                    <ul>
                        <li>C</li>
                        <li>Golang</li>
                        <li>Python</li>
                        <li>C++</li>
                        <li>C#</li>
                        <li>PHP</li>
                        <li>Java</li>
                        <li>HTML/CSS</li>
                        <li>JavaScript</li>
                        <li>Sourcepawn</li>
                        <li>Lua</li>
                        <li>Elixir</li>
                        <li>Assembly</li>
                    </ul>
                </p>

                <p class="card-text">In addition to programming, I also have experience in <span class="flair">Linux</span>, <span class="flair">networking</span>, Git, CD/CI tools, and version control. This comes with the following experience.
                    <ul>
                        <li>Linux networking/tunneling protocols including <span class="flair">IPIP</span>, GRE, and more.</li>
                        <li>Linux kernel networking paths including <span class="flair">XDP</span> (Express Data Path) and TC (Traffic Control).</li>
                        <li>Kernel-bypass libraries such as the <span class="flair">DPDK</span>.</li>
                        <li>Linux firewalls including <span class="flair">NFTables</span>, IPTables, and more.</li>
                        <li>Third-party firewalls (either based on Linux or Unix) such as <span class="flair">pfSense</span>, IPFire, VyOS, and more.</li>
                        <li><span class="flair">BGP</span> (Border Gateway Protocol) tuning and routing.</li>
                        <li>Deploying and managing <span class="flair">Anycast</span> systems.</li>
                        <li>Running Docker, Docker Compose, and Docker Networking.</li>
                        <li>CD/CI piplines/tools using both GitHub and <a class="tmc" href="https://circleci.com/" target="_blank">CircleCI</a>.</li>
                        <li>Git and version control.</li>
                    </ul>
                </p>

                <p class="card-text">I also manage/have managed large/successful gaming communities/businesses for over ten years along with support-related jobs. This has given myself the following additional experience.
                    <ul>
                        <li>Managing over <span class="flair">fifty</span> dedicated servers/VPSs running a combination of Linux/Windows for game and web servers (along with custom kernels/configurations).</li>
                        <li>Providing customer support.</li>
                        <li>Running businesses.</li>
                        <li>Marketing/advertising.</li>
                        <li>Designing attractive websites.</li>
                        <li>Communicating and <span class="flair">helping</span> other communitities, server owners, and developers.</li>
                        <li>Writing public/internal guides and knowledgebase articles (I <span class="flair">love</span> writing).</li>
                        <li>Microsoft Azure and Office 365.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img class="card-img-top" src="{% static 'home/mypro.jpg' %}" alt="image">
            <div class="card-body">
                <h1 class="card-title text-center">Projects</h1>
                <p class="card-text">The following are what I consider my top projects in both the present and past.
                    <ul>
                        <li><a class="tmc" href="https://moddingcommunity.com/" target="_blank">TMC (The Modding Community)</a> - A new and exciting project aimed to shine <span class="flair">spotlight</span> and <span class="flair">support</span> on modding via custom content creation, suggestions on how to improve the modding community, and more! This has huge potential to change gaming, media/content creation, entertainment, and more!</li>
                        <li><a href="https://lbgaming.co/" target="_blank">LBG (Laid Back Gaming)</a> - A new <span class="flair">multi-gaming</span> community with a new and improved <span class="flair">Anycast</span> network. We host game servers in many games including Counter-Strike, Rust, Garry's Mod, Team Fortress 2, and more!</li>
                        <li><a href="https://GFLClan.com/" target="_blank">GFL (Games For Life)</a> - A large/successful gaming community Christian founded and owned from January 25th, 2011 to July 13th, 2021 (over <span class="flair">ten</span> years!).</li>
                        <li><a href="https://browser.tf" target="_blank">Browser.TF</a> - A <span class="flair">web-sided</span> server browser for the game Team Fortress 2.</li>
                        <li><a href="https://github.com/gamemann/XDP-Firewall" target="_blank">XDP Firewall</a> - A stateless firewall that attaches to the Linux <span class="flair">XDP</span> path.</li>
                        <li><a href="https://github.com/gamemann/XDP-Forwarding" target="_blank">XDP Forwarding</a> - A layer 3/4 forwarding program that attaches to the Linux XDP path for fast packet processing and utilizes <span class="flair">source-port mapping</span>.</li>
                        <li><a href="https://github.com/Packet-Batch" target="_blank">Packet Batch</a> - A packet generator that supports three versions including the DPDK, AF_XDP, and standard Linux AF_PACKETv3 sockets. Useful for <span class="flair">network monitoring</span> or  <span class="flair">pen-testing</span> (DoS/DDoS).</li>
                        <li><a href="https://github.com/gamemann/Rust-Auto-Wipe" target="_blank">Rust Auto Wipe</a> - A tool programmed in Go for automating wipes for Rust game servers in <span class="flair">Pterodactyl</span>. This tool comes with many features including <span class="flair">cron scheduling</span>, map seed/world changing, warning system (configurable), host name changes, and more!</li>
                        <li><a href="https://github.com/gamemann/Pterodactyl-Game-Server-Watch" target="_blank">Rust Auto Wipe</a> - A tool programmed in Go to restart hung game servers for <span class="flair">Pterodactyl</span> that relies on Valve's <span class="flair">A2S_INFO query</span>.</li>
                    </ul>
                </p>

                <p>Many of my open-source projects/organizations may be found on my GitHub <a href="https://github.com/gamemann" target="_blank">profile</a>!</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img class="card-img-top" src="{% static 'home/os-stats.jpg' %}" alt="image">
            <div class="card-body">
                <h1 class="card-title text-center">Open Source Stats</h1>
                <p class="card-text">
                    <ul>
                        <li><i class="bi bi-envelope-paper-fill"></i> <span class="flair">{{ gh_repos }}</span> - Public Repositories</li>
                        <li><i class="bi bi-star-fill"></i> <span class="flair">{{ gh_stars }}</span> - Stars</li>
                        <li><i class="bi bi-bell-fill"></i> <span class="flair">{{ gh_followers }}</span> - Followers</li>
                        <li><i class="bi bi-bug-fill"></i> <span class="flair">{{ gh_commits }}</span> - Commits</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img class="card-img-top" src="{% static 'home/referrals.webp' %}" alt="image">
            <div class="card-body">
                <h1 class="card-title text-center">Referrals</h1>
                <p>Will be completed in the near future.</p>
            </div>
        </div>
    </div>
</div>