<section>
    <div class="row justify-content-center">
        <div class="col">
            <nav class="navbar navbar-expand">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" ariaa-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item {% if request.path == '/' %}active {% endif %}"><a class="navbar-link" href="/">Home</a></li>
                        <li class="nav-item {% if '/products' in request.path %}active {% endif %}"><a class="navbar-link" href="/products">Products</a></li>
                        <li class="nav-item {% if '/blog' in request.path %}active {% endif %}"><a class="navbar-link" href="/blog">Blog</a></li>
                        <li class="nav-item {% if '/lbg' in request.path %}active {% endif %}"><a class="navbar-link" href="/lbg">LBG</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</section>