{% load static %}

<section>
    <div class="position-fixed bottom-0 start-0" id="settings">
        <a data-bs-toggle="collapse" href="#settingsContent" role="button" aria-expanded="false" aria-controls="settingsContent"><h4 class="text-center">Settings</h4></a>
        <div class="collapse" id="settingsContent">
            <ul class="list-group">
                <li class="list-group-item" id="sign-in"><del>Sign In</del></li>
                <li class="list-group-item" id="disable-video">Disable Video</li>
            </ul>
        </div>
    </div>
</section>