{% load static %}

<html>
    <head>
        {% include 'home/load_static.html' %}
        {% include 'home/global_head.html' %}
    </head>
    <body>
        {% include 'home/bg.html' %}
        <div class="container-fluid">
            {% include 'home/navbar.html' %}

            <section id="content">
                    <div class="row align-items-center">
                        <div class="col">
                            <p class="fst-italic text-center">Coming Soon...</p>
                        </div>
                    </div>
            </section>

            {% include 'home/footer.html' %}
        </div>
    </body>
</html>